<app-header></app-header>


<mat-drawer-container>
    <mat-drawer mode="side" [(opened)]="opened">
        <app-sidenav></app-sidenav>
    </mat-drawer>


    <mat-drawer-content>

        <h1>&nbsp;&nbsp;Import EmployeeShift_MonthWise</h1>



        <div class="border"><br>
            <p align="right"><strong>Example File Formate</strong></p>

            <br><label for="district">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year : <input type="date" type="date"  ></label>

            <br><label for="district">&nbsp;&nbsp;&nbsp;Path : <input type="file" type="text" name="fileupload" size="55" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label><input type="file"></label> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p align="right"> <button type="import" value="Submit">Import</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="cancle" value="Reset">cancle</button></p>
            <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note - Comma should not be used in this cell.</b></p>

        </div>
        <br>







    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>



<router-outlet></router-outlet>