<h2 style="color: #0b354b;">AK Technologies : Sign in Form</h2>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>connect with us</span>
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a href="#">Forgot your password?</a>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/Company" routerLinkActive="active">Company</a>
            <a href="/login">Sign In</a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <div class="loginimage">
                    <img src="../../assets/image-path/ak-logo.png" alt="">
                </div>
                <h1>Hi!</h1>
                <p>Ask for Free Demo</p>
                <button class="ghost" id="signUp">Enquiry</button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>
        Created <i class="fa fa-heart"></i> by
        <a target="_blank" href="www.aktechs.co.in">AK Technologies</a> - Design & Developed by
        <a target="_blank" href="www.aktechs.co.in">AK Technologies</a>.
    </p>
</footer>

<router-outlet></router-outlet>