<app-header></app-header>


<mat-drawer-container>
    <mat-drawer mode="side" [(opened)]="opened">
        <app-sidenav></app-sidenav>
    </mat-drawer>


    <mat-drawer-content>

        <h1>&nbsp;&nbsp;Import Employee Leave Summary</h1>




        <div class="border">
            <br><label for="district">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year : <input type="date" type="date"  ></label>

            <br><label for="district">&nbsp;&nbsp;&nbsp;Path : <input type="file" type="text" name="fileupload" size="55" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label><input type="file"></label> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="box" name="box">
            <label for="box">&nbsp;&nbsp;&nbsp;&nbsp; Is override</label>
            <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Download Sample File</strong></p>
            <p align="right"> <button type="import" value="Submit">Import from Excel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="cancle" value="Reset">cancle</button></p>
        </div>
        <br>







    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>



<router-outlet></router-outlet>