<mat-accordion>

    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Master
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p> <a routerLink="/employee-list" routerLinkActive="active">Employee-List</a></p>
        <p> <a routerLink="/location" routerLinkActive="active">Location</a></p>
        <p> <a routerLink="/holiday" routerLinkActive="active">Holiday</a></p>
        <p> <a routerLink="/employee-shift" routerLinkActive="active">Employee-Shift</a></p>
        <p> <a routerLink="/employeement-master" routerLinkActive="active">Employeement-Master</a></p>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p> <a routerLink="/monitor" routerLinkActive="active">Monitor</a></p>
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Import/Export
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><a routerLink="/import-employees-details" routerLinkActive="active">Import Employees Details</a></p>
        <p><a routerLink="/export-employees-details" routerLinkActive="active">Export Employees Details</a></p>
        <p><a routerLink="/import-employees-other-details" routerLinkActive="active">Import Employees Other Details</a></p>
        <p><a routerLink="/export-employees-other-details" routerLinkActive="active">Export Employees Other Details</a></p>
        <p><a routerLink="/import-employee-leave" routerLinkActive="active">Import Employee Leave Balance</a></p>
        <p><a routerLink="/export-employee-leave" routerLinkActive="active">Export Employee Leave Balance</a></p>
        <p><a routerLink="/import-employeeshift-monthwise" routerLinkActive="active">Import Employee Shift Month Wise</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Reports
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p> <a routerLink="/daily-attendence-report" routerLinkActive="active">Daily-Attendance-Report</a></p>
        <p> <a routerLink="/monthly-attendence-report" routerLinkActive="active">Monthly-Attendance-Report</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p> <a routerLink="/pagination" routerLinkActive="active">pagination</a></p>


            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>

                <p><a routerLink="/sign" routerLinkActive="active">Sign</a> </p>

            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p> <a routerLink="/sheet" routerLinkActive="active">Spread Sheet</a></p>


            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>



</mat-accordion>