.nav-bar {
    justify-content: space-between;
}

mat-drawer,
mat-drawer-content {
    padding: 10px;
}

.mat-toolbar.mat-warn {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-drawer-content {
    height: 600px;
}

mat-grid-tile {
    background: lightblue;
}

mat-drawer {
    background-color: #eff1f9;
    width: 200px;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.nav-bar {
    background-color: #dedede;
}

.adminimage img {
    width: 40px;
    border-radius: 6px;
    box-shadow: 4px 3px 6px 0 rgb(0 0 0 / 20%);
}

mat-grid-tile-content.activeuser {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

h1 {
    background-color: #007bff;
}

.wrap {
    width: 100%;
    overflow: auto;
}

.fleft {
    float: left;
    width: 50%;
    display: inherit;
}

.fright {
    float: right;
    width: 50%;
    padding-bottom: 26px;
}

.border {
    border: 1px solid rgb(6, 7, 6);
    margin-right: 15px;
}